extends layout

block content
    h1= title
    form(method="POST", action="/new")
        input(type="text", name="message", placeholder="Input a message here")
        input(type="text", name="user", placeholder="Input your name here")
        input(type="submit" value="Send Message")
